@use '../utils/variables' as *;

.archive-image {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    height: auto;
    box-sizing: border-box;

    &:first-child {
        margin-top: 50px;

        @media (max-width: 430px) {
            margin-top: 16px;
            padding: 0px 16px 16px 16px;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 430px) {
    .archive-image {
        max-width: 100%;
    }
    
}