@use '../utils/variables' as *;

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
    
}

.shop-grid {
    padding: 50px 0px 50px 0px; 
    max-width: 960px;
    margin: 0 auto;
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .grid-item {
        text-align: center;
        img {
            width: 100%;
            height: auto;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
        .product-name,
        .product-price {
            margin: 8px 0;
        }

        &:hover img {
            transform: scale(1.02);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
    }
}

@media (max-width: 430px) {
    .shop-grid {
        padding: 0px 16px 16px 16px;
        padding-bottom: 16px;
        max-width: 960px;
        margin: 0 auto;
    }
    .shop-grid .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .shop-grid {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
}